
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ore86c');
  src:  url('fonts/icomoon.eot?ore86c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ore86c') format('truetype'),
    url('fonts/icomoon.woff?ore86c') format('woff'),
    url('fonts/icomoon.svg?ore86c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
